body {
    background: rgb(174, 240, 95);
    background: linear-gradient(90deg, rgba(174, 240, 95, 1) 9%, rgba(197, 213, 28, 1) 31%, rgba(225, 232, 31, 1) 73%, rgba(217, 168, 62, 1) 89%);
}

.red-validate{
    color: red;
}

input {
    height: 15px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-width: 3px;
    border-style: ridge;
    border-color: #4CAF50;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}